---
// Component Imports
import { getSanityImageUrl/*, formatBlogPostDate*/ } from '../utils/helpers.js'
import {toPlainText} from '@portabletext/svelte'

import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
//import Debug from 'astro/debug'

// Component Script:
// You can write any JavaScript/TypeScript that you'd like here.
// It will run during the build, but never in the browser.
// All variables are available to use in the HTML template below.

import site from "../data/site.js";

const {lang, page, post, permalink } = Astro.props;

const description = post?.summary && toPlainText(post.summary) || page?.description && page.description[lang] || site.description[lang]
console.log({description})
const url = site.url + (post?.category.slug[lang].current ? '/' + post.category.slug[lang].current + '/' + (post.slug.current || '') : '')
const title = post?.title || page?.title && page.title[lang] || page?.menutitle && page.menutitle[lang] || page?.name && page.name[lang] || site.title
//const description = post?.summary || page.description[lang] || site.description
const publishDate = post?.publishedAt || post?._createdAt || page?.publishedAt || page?._createdAt
const ogImageUrl = post?.image.asset && getSanityImageUrl(post.image).width(1200).format('webp').url() || site.ogImageUrl
---
<html lang={lang}>
  <head>
    <BaseHead {title} {description} {publishDate} {ogImageUrl} {url}/>
  </head>
  <body>
    <Header {...Astro.props}/>
    <slot/>
    <Footer {title} {description} {url} {site}/>
  </body>
</html>

<style>
  a {
    text-decoration: revert;
  }
</style>
