---
// Component Imports
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
//import Debug from 'astro/debug'

// Component Script:
// You can write any JavaScript/TypeScript that you'd like here.
// It will run during the build, but never in the browser.
// All variables are available to use in the HTML template below.

//const { meta, title, subtitle, summary, image, folder, content } = Astro.props
const {meta, title, description, permalink, publishDate, ogImageUrl, canonicalURL } = Astro.props;

//console.log('LAYOUT',Astro.props)
// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---
<html lang="{lang}">
  <head>
    <BaseHead title={meta?.title || title} description={description} permalink={permalink} canonicalURL={canonicalURL} publishDate={publishDate} ogImageUrl={ogImageUrl} />
  </head>
  <body>
    <Header {...Astro.props}/>
    <slot/>
    <Footer {...Astro.props}/>
  </body>
</html>

<style>
  a {
    text-decoration: revert;
  }
</style>
