---
import Layout from './Layout.astro'
import Page from './Page.astro'
import Post from './Post.astro'
import Image from '../components/Image.astro'
import Timeline from '../components/Timeline.astro'
import SanityBlockContent from '../components/SanityBlockContent.jsx'

//import Debug from 'astro/debug'

// Component Imports
// import Header from '$lib/Header.astro'
// You can import components from any supported Framework here!


// Component Script:
// You can write any JavaScript/TypeScript that you'd like here.
// It will run during the build, but never in the browser.
// All variables are available to use in the HTML template below.

const { page, post, posts, summaryfrom, lang } = Astro.props

const imgsize = { "default": 480, "double": 960, "full": 1600 }
const ratio = { "default": 75, "double": 55, "full": 50 }
---
<Layout {...Astro.props}>

<main>
{post && <Post {post} {lang}/>}
{!post && !!page && <Page {page} {lang}/>}
</main>

{posts && 
<section>
  {posts.map(item => item.slug.current != post?.slug.current && (
    item.weblink || item.category ? (
    <a href={item.weblink || `/${item.category?.slug[item._lang].current}/${item.slug.current}`} class={item.size}>
      <h2>{item.menutitle || item.title}</h2>
      {item.image?.asset && <Image lazy {item.size} image={item.image} w={imgsize[item.size]} ratio={ratio[item.size]} {lang}/>}
      {item.subtitle && <h3>{item.subtitle}</h3>}
      {!!item.summary && item.summaryfrom != 'none' && <SanityBlockContent blocks={item.summary}/>}
      {(summaryfrom == 'content' && !item.summary) && (
        <SanityBlockContent blocks={item.body} />
      )}
    </a>
    ) : (
    <div class={item.size}>
      <h2>{item.menutitle || item.title}</h2>
      {item.image?.asset && <Image lazy {item.size} image={item.image} w={imgsize[item.size]} ratio={ratio[item.size]} {lang}/>}
      {item.subtitle && <h3>{item.subtitle}</h3>}
      {!!item.summary && item.summaryfrom != 'none' && <SanityBlockContent blocks={item.summary}/>}
      {(summaryfrom == 'content' && !item.summary) && (
        <SanityBlockContent blocks={item.body} />
      )}
    </div>
    )
  ))}
</section>}
</Layout>
