---
import Layout from '../layouts/Layout.astro'
import SanityBlockContent from './SanityBlockContent.jsx'
import { getSanityImageUrl, formatBlogPostDate } from '../utils/helpers.js'

export interface Props {
  post: any;
  _lang: any;
}

const { post } = Astro.props
//const { cat } = Astro.request.params

//console.log({post});
// const blogPostBody = await convertBlockContentToMarkdown(post.bodyRaw);

---

<Layout>
  <article class="post-content__article">
    {post.location && <h6>{post.location.name}</h6>}
      {post.image?.asset && <figure>
        <img width="720" height="420" class="post-main__img" loading="lazy" src={getSanityImageUrl(post.image).url()} />
        {post.image?.caption && <figcaption>{post.image.caption}</figcaption>}
      </figure>}
      <h1>{post.title}</h1>
      {post.publishedAt && <time>{formatBlogPostDate(post.publishedAt)}</time>}
      <!--{post.category && <p>_{post.category.title[_lang]}</p>}-->
      {post.excerpt && <h5>{post.excerpt}</h5>}
      <SanityBlockContent blocks={post.body} />
      <p>{post.refs?.map(ref => (
        <a href={`/${post.cat[ref._lang].current}/${ref.slug?.current}`}>{ref._lang}</a><span>&nbsp;</span>
      ))}</p>
  </article>
</Layout>

<style>
  .post-content__article {
    padding: 1rem;
  }

  .post-main__img {
    width: 100%;
    height: auto;
  }
</style>

