---
import ArticleSchema from "./ArticleSchema.jsx";
import site from "../data/site.js";
//console.log(site)
export interface Props {
  title: string;
  description: string;
  url: URL;
  publishDate: string;
  ogImageUrl: string;
  //canonicalURL?: URL;
  articleSchema?: boolean;
}
const { title, description, url, publishDate, ogImageUrl, /*canonicalURL, */articleSchema } = Astro.props;
//console.log(title)
---

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />

<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#333333">
<meta name="msapplication-TileColor" content="#333333">
<meta name="theme-color" content="#333333">
<link rel="stylesheet" href="/style/global-dark.css"/>
<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />
<!-- Sitemap -->
<!--<link rel="sitemap" href="/sitemap.xml">-->
<!-- RSS -->
<!--<link rel="alternate" type="application/rss+xml" title={`${site.name} Blog`} href={`${site.url}/feed/blog.xml`}/>-->
<!-- Canonical -->
<link rel="canonical" href={url}>
<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={ogImageUrl} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={ogImageUrl} />

<!-- Google Fonts -->
<link rel="preconnect" href="https://fonts.bunny.net">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
rel="preload"
href="https://fonts.bunny.net/css?family=alegreya-sc:400,700,400i"
as="style"
onload="this.onload=null;this.rel='stylesheet'">
<noscript>
  <link
    href="https://fonts.bunny.net/css?family=alegreya-sc:400,700,400i"
    rel="stylesheet"
    type="text/css">
</noscript>

<script is:inline>
  function _zoomin(s) {
    if (document.body.requestFullscreen || document.body.webkitRequestFullscreen || document.body.mozRequestFullScreen) {
      const img = document.getElementById('zoom')
      img.src = s
      try {
        img.requestFullscreen()
      }
      catch {
        try {
          img.webkitRequestFullscreen()
        }
        catch {
          try {
            img.mozRequestFullScreen()
          }
          catch {}
        }
      }
    }
  }
  function _zoomout() {
    if (document.body.requestFullscreen || document.body.webkitRequestFullscreen || document.body.mozRequestFullScreen) {
      try {
        document.exitFullscreen()
      }
      catch {
        try {
          document.webkitExitFullscreen()
        }
        catch {
          try {
            document.mozExitFullScreen()
          }
          catch {}
        }
      }
    }
  }
</script>

{articleSchema && (<ArticleSchema title={title} description={description} permalink={url} publishDate={publishDate} ogImageUrl={ogImageUrl} />)}

</style>